/* sets the margin of the whole page to 0 so everything is full */
* {
    padding: 0;
    margin: 0;
    color: var(--text);
}
:root {
    --dark: rgb(62, 62, 66);
    --text: rgb(203, 199, 190);
    --text-box: rgb(108, 89, 84);
    --pastel: #B69A92;
    --font:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: var(--pastel);
}
header {
    background-color: #8D7458;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* main title of the page */
header h1 {
    font-size: 50px;
    color:var(--text);
    align-items: center;
/* stop the header h1 from going all the way across while give the header padding */
    display: inline-block;
    padding-right: 10px;
}
/* make the navigation bar inside of the header*/
header ul {
    list-style-type: none;
    overflow: hidden;
    border-radius: 8px;
}
/* move navigation links to the right */
header li {
    display: inline;
    float: right;
}
header a {
    display: block;
    color:var(--text);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px; 
    text-decoration: none;
}
main a {
    color: var(--text);
    width: 100%;
}
/* puts the text inside of the image */
.container {
    position: relative;
    text-align: center;
}
main img {
    height:200px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap-reverse;
}
figure h1 {
    background-color: var(--text-box);
    outline: 5px solid var(--text-box);
    position: absolute;
    bottom: 8px;
    right: 16px;
    margin-bottom: 10px;
}
p {
    font-family: var(--font);
    font-size: 13px;
}
.big {
    display: flex;
    width: 100%;
}
/* put the boxes in the center of the page as well as wrap them correctly around */
.box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
    justify-content: center;
}

/* correctly set the image of the text boxes */
figure img {
    height:200px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
/* to make borders around the text boxes */
.figcaption {
    margin-bottom: 20px;
    padding: 50px;
    height: 200px;
}
.work-box {
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--text-box);
    position: relative;
    text-align: end;
}
.work-box:hover {
    box-shadow: inset 0px 0px 8px whitesmoke, 0 0 15px whitesmoke;
}
/* make the text boxes for the card label*/
.text-box {
    background-color: var(--text-box);
    outline: 5px solid var(--text-box);
    transition: all 0.5s ease-in-out;
    padding-right: 10px;
    padding-left: -30px;

}
.card-header {
    font-size: 25px;
}
section h5 p {
    font-size: 10px;
    display: inline-block;
    text-align: left;

}
.aboutcontainer {
    display: flex;
}
.aboutcontainer h1 {
    padding: 10px;
    width: 25%;
}
footer {
    background-color: darkgrey;
}
footer ul {
    list-style-type: none;
    text-align: end;
    overflow: hidden;
}
footer img {
    max-width: 25%;
}

footer li {
    display: inline;
}
footer a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    font-style: var(--text);
}
@media screen  and (max-width: 768px) {
    .figcation {
        width: 50%;
    }
    .row {
        width: 100%;
    }
}
@media screen and (max-width: 576px) {
    .figcaption {
        width: 100%;
    }
}